<.live_component module={VinmarWeb.NavbarComponents} id="sidebar" current_user={@current_user} />
<main class="w-full bg-slate-100 min-h-screen">
  <div class="">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
